.course-card {
  width: 260px;
  border-radius: 10px;
  overflow: hidden;
  background: var(--bg);
  color: var(--text);
  box-shadow: var(--shadow);
  cursor: pointer;
  transition: 0.3s;
  position: relative;
}

.course-card:hover {
  transform: translateY(-4px);
  box-shadow: var(--shadow-hover);
}

.course-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.badge {
  position: absolute;
  top: 8px;
  left: 8px;
  background: gold;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
}

.wishlist-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 20px;
}

.price .old {
  text-decoration: line-through;
  margin-left: 5px;
  color: #777;
}

.add-cart {
  margin-top: 10px;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  background: #5624d0;
  color: white;
  border: none;
}
